<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="shortcut icon" href="#" />
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/static/index.js"></script>
</head>
<body>
    <h2>Podcast Search</h2>
    <p>**Input something below to search podcasts**</p>
    <input type = "text" name="input_sentence" id="input_sentence"></input>
    <pre name="output_sentence" id="output_sentence"></pre>
    <button id="button">Search</button>
</body>
</html>